body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  
  h1 {
    margin: 0;
  }
  
  .menu {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .headerText {
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
  }
  
  .AboutMeClass {
    text-align: center;
    padding: 40px 20px;
  }
  
  .title {
    color: #333;
  }
  
  #aboutMeArticle {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .text {
    line-height: 1.5;
  }
  
  .d-flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
  }
  
  .ProjectClass {
    max-width: 300px;
    margin: 20px;
    text-align: center;
  }
  

  .ContactMeClass {
    text-align: center;
    padding: 40px 20px;
  }
  
  #contactme-nav {
    margin-top: 20px;
  }
  
  #contactme-nav a {
    display: block;
    margin-bottom: 10px;
    color: #333;
    text-decoration: none;
  }

    .ResumeClass {
        text-align: center;
        padding: 40px 20px;
      }